* {
    fx-dark: #212121;
    fx-dark-hover: #545454;
    fx-light: rgba(241, 241, 241, 0.88);
    fx-light-dim: rgba(241, 241, 241, 0.6);

    /*
    fx-text-light: derive(fx-text-dark, 50%);
    */
}

